body{
    margin: 0px;
}

/* change after */
h1{
    margin-left: 20px;
    margin-top: 0px;
}
header{
    margin: 0px;
    background-color:gray;
}

nav{
    background-color: black;
}

#navigation{
    background-color: black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#navigation div{
    text-align: center;  
    width: 100%;
    padding: 20px;
}
#navigation a{
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
#navigation a:hover{
    background-color: aliceblue;
    color: black;
}

#main-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color:gainsboro;
    height: 400px;
}

aside{
    background-color: white;
}

footer{
    background-color: gray;
    height: 180px;
    text-align: center;
}